---
---
@import 'bootstrap';

$theme-blue: #00C0FF;
$theme-yellow: #FFCD00;

@import 'modules/weather';
@import 'modules/map';

body {
  font-family: 'Lato', 'Arial';
  padding-top: 50px;
  padding-bottom: 20px;
  color: #303030;
  font-size: 16px;
  background-color: white;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  display: inline-block;
  font-family: "Bubblegum Sans";

  span.icon {
    color: $theme-blue;
    margin-right: 10px;
  }

  .key-line {
    width: 100%;
    height: 5px;
    margin: 5px auto 20px;
  }
}

.navbar-inverse .navbar-collapse {
  border-color: #05ACE2;
}

.navbar-inverse {
  background-color: #40D0FF;
  border-color: #05ACE2;

  div.navbar-brand{
    i {
      padding-right: 5px;
      color: $theme-yellow;
    }

    a {
      font-family: "Bubblegum Sans";
      color: white;

      &:hover {
        color: #05ACE2;
        text-decoration: none;
      }
    }
  }

  .navbar-nav > li > a {
    color: white;
  }

  .navbar-nav > .open > a:focus {
    background-color: #05ACE2;
  }
}

.jumbotron {
  background: url('../images/jumbotron.jpg') no-repeat center center scroll;
  background-size: cover;
  color: white;
  padding: 0px;
  height: 500px;
  text-align: center;
  margin-bottom: 0px;

  .container {
    .col-md-5 {
      background-color: rgba(0, 0, 0, 0.7);
      height: 500px;

      i {
        font-size: 125px;
        color: $theme-yellow;
        line-height: 190px;
      }

      .key-line {
        height: 10px;
        width: 255px;
        box-shadow: 0 10px 0 $theme-blue;
        margin: 0 auto 10px auto;
      }

      p { font-weight: 300; }
    }
  }
}

.callouts-wrapper {
  border-bottom: 5px solid #DDDDDD;
  border-top: 5px solid #DDDDDD;
  padding: 20px 0;

  .callout{
    text-align: center;

    h2 {
      font-size: 24px;
      margin-top: 0;

      .key-line {
        height: 5px;
        width: 200px;
      }
    }

    span.icon {
      display: block;
      margin-bottom: 10px;
      font-size: 70px;
      line-height: 100px;
      height: 90px;
    }

    span.icon.wi {
      line-height: 115px;
    }
  }
}

.banner-margin-top {
  margin-top: 40px;
}

.banner-margin-bottom {
  margin-bottom: 40px;
}

.key-line {
  border-radius: 10px;
  box-shadow: 0 10px 0 $theme-yellow;
}

.loading {
  text-align: center;
  padding-top: 100px;

  span {
    font-size: 40px;
  }

  p {
    margin-top: 20px;
  }
}

.content-wrapper {
  background-color: #f6f6f6;
  padding-bottom: 20px;

  .heading {
    text-align: center;
    color: #00C0FF;
  }

  .cta { 
    margin-top: 10px;
    text-align: center;
  }
}

.waterpark {
  margin-bottom: 20px;
}

.photos a.thumb {
  margin-bottom: 20px;
}

.maintenance {
  text-align: center;

  i {
    font-size: 125px;
    color: $theme-yellow;
    line-height: 190px;
  }

  .key-line {
    height: 10px;
    width: 255px;
    box-shadow: 0 10px 0 $theme-blue;
    margin: 0 auto 35px auto;
  }
}

.ad-block {
  background-color: #CCCCCC;
  width: 100%;
  height: 100%;
  min-height: 100%;
  text-align: center;
  min-height: 90px;
  padding: 10px;
}

footer {
  border-top: 5px solid #DDDDDD;
  padding-top: 20px;
}
