#big-map { height: 500px; }

.map-wrapper {
  background-color: #F6F6F6;
  border-top: 5px solid #DDDDDD;
  padding: 10px 0 20px 0;

  .getting-there {
    .col-md-6 { display: none; }

    .map {
      border: 3px solid #DDDDDD;
      height: 500px;
    }

    .directions {
      height: 500px;
      overflow-y : auto;
    }
  }
}
