$wi-path: "../fonts/weather-icons";
$fa-font-path: "../fonts/font-awesome";

@import 'variables';

@import 'bootstrap';
@import 'weather-icons';
@import 'font-awesome';

@import 'modules/weather';
@import 'modules/map';
@import 'modules/photos';
@import 'modules/reviews';
@import 'modules/water-park-cards';

body {
  background-color: white;
  color: $theme-primary-font-color;
  font-family: 'Lato', 'Arial';
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 20px;
  padding-top: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  font-family: 'Bubblegum Sans';

  .icon {
    color: $theme-primary-color;
    margin-right: 10px;
  }

  .key-line {
    height: 5px;
    margin: 5px auto 20px;
    width: 100%;
  }
}

.navbar-default {
  .navbar-collapse {
    overflow-y: scroll;
  }
}

.navbar-brand {
  i {
    color: $theme-highlight-color;
    padding-right: 5px;
  }

  a {
    color: white;
    font-family: 'Bubblegum Sans';

    &:hover {
      color: $link-hover-color;
      text-decoration: none;
    }
  }
}

.jumbotron {
  color: white;
  height: 500px;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  text-align: center;

  .slick-carousel {
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .slick-list,
  .slick-track,
  .slick-track > div {
    height: 100%;
    width: 100%;
  }

  .slick-track > div {
    background-position: center;
    background-size: cover;
  }

  .park-info {
    bottom: 10px;
    position: absolute;
    right: 10px;
    text-align: right;

    h6 {
      font-size: 18px;
      margin-bottom: 3px;
    }

    p {
      font-size: 12px;
      font-style: italic;
      margin-bottom: 0;
    }
  }

  .col-md-5 {
    background-color: rgba(0, 0, 0, 0.7);
    height: 500px;

    i {
      color: $theme-highlight-color;
      font-size: 125px;
      line-height: 190px;
    }

    .key-line {
      box-shadow: 0 10px 0 $theme-primary-color;
      height: 10px;
      margin: 0 auto 10px;
      width: 255px;
    }

    p { font-weight: 300; }
  }
}

.callouts-wrapper {
  border-bottom: 5px solid #DDDDDD;
  border-top: 5px solid #DDDDDD;
  padding: 20px 0;
  text-align: center;

  h2 {
    font-size: 24px;
    margin-top: 0;

    .key-line {
      height: 5px;
      width: 200px;
    }
  }

  .icon {
    display: block;
    font-size: 70px;
    height: 90px;
    line-height: 100px;
    margin-bottom: 10px;
  }

  .icon.wi {
    line-height: 115px;
  }

  p {
    line-height: 25px;
  }
}

.banner-margin-top {
  margin-top: 40px;
}

.banner-margin-bottom {
  margin-bottom: 40px;
}

.key-line {
  border-radius: 10px;
  box-shadow: 0 10px 0 $theme-highlight-color;
}

.loading {
  padding-top: 100px;
  text-align: center;

  span {
    font-size: 40px;
  }

  p {
    margin-top: 20px;
  }
}

.content-wrapper {
  background-color: #f6f6f6;
  padding-bottom: 20px;

  .heading {
    color: $theme-primary-color;
    text-align: center;
  }

  .cta {
    margin-top: 10px;
    text-align: center;
  }
}

.waterpark {
  margin-bottom: 20px;
}

.maintenance {
  text-align: center;

  i {
    color: $theme-highlight-color;
    font-size: 125px;
    line-height: 190px;
  }

  .key-line {
    box-shadow: 0 10px 0 $theme-primary-color;
    height: 10px;
    margin: 0 auto 35px;
    width: 255px;
  }
}

.ad-block {
  background-color: #CCCCCC;
  height: 100%;
  min-height: 90px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.disclaimer {
  font-size: 12px;
  font-style: italic;
}

footer {
  border-top: 5px solid #DDDDDD;
  padding-top: 20px;

  .glyphicon-heart {
    color: red;
  }
}
