{% include html-head.html %}
  <body>

    {% include header.html %}

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>
            <span class="icon fa fa-life-saver"></span>
            {{ page.title }}
            <div class="key-line"></div>
          </h1>
          <p>Click on a map marker to be taken to that water park's listing</p>
          <div class="big-map map"></div>
        </div>
      </div>
    </div>

    {% include footer.html %}

    <script type="text/javascript">
      var waterparkData = [
        {% for waterpark in site.water-parks %}
          {% if (waterpark.lat && waterpark.lng) %}
            {
              "lat": {{ waterpark.lat }},
              "lng": {{ waterpark.lng }},
              "url": "{{waterpark.url}}",
              "name": "{{waterpark.title}}"
            },
          {% endif %}
        {% endfor %}
      ];

      var waterparkCollection = new waterparks.Collections.WaterParks(waterparkData);
      var mapView = new waterparks.Views.BigMapView({
        el: '.big-map',
        collection: waterparkCollection
      }).render();
    </script>

  </body>
</html>
